<p-card header="Notification Center">
  <api-response [apiResponse]="notifications$" errorMessage="Error loading notifications" loadingMessage="Loading notifications...">
    <ng-template #success let-notifications>
      <div class="flex flex-column">
        @for (notification of notifications; track notification.id) {
          <p-button link="true" (onClick)="notificationClicked(notification)">
            <span [ngClass]="{ 'font-semibold': notification.isUnread }">
              {{ notification.title }}
            </span>
          </p-button>
        } @empty {
            <p>There are no notifications.</p>
        }
      </div>
      <error-list [errors]="errors" />
    </ng-template>
  </api-response>
</p-card>
